# New Input File Format is as follows
# <ParameterName> = <ParameterValue> # Comment
# See configfile.h for a list of supported ParameterNames

##########################################################################################
# Files
##########################################################################################
InputFile                = "A:\test_seq\huawei\sintel_trailer_2k_720p24.yuv"     # Input sequence, YUV 4:2:0
FramesToBeEncoded        = 500         # Number of frames to be coded
SourceWidth              = 1280         # Image width  in Pels, must be multiple of 16
SourceHeight             = 720         # Image height in Pels, must be multiple of 16
FrameRate                = 24        
FrameRateDen             = 1 
SampleBitDepth           = 8
CodingBitDepth           = 8      
TraceFile                = "psnr.txt"
ReconFile                = ""
OutputFile               = "out.avs"

threads-wpp              = 1
threads-frm              = 1
threads-gop              = 8
LcuRowInSlice            = 0            # (0: one slice)
SpeedLevel               = 5            # (5 ~ 7) 

##########################################################################################
# Encoder Control
##########################################################################################           
IntraPeriod              = 6            # Period of I-Frames (0=only first)
QP                       = 32           # Quant. param for first frame (intra) (0-63)                                                 
CloseGOP                 = 0            # Use Close GOP

##########################################################################################
# B Frames
##########################################################################################
NumberBFrames            = 7            # Number of B frames inserted (0=not used)
                          
##########################################################################################
# Additional Stuff
#########################################################################################
InterlaceCodingOption   =  0           # (0: frame coding, 1: Field picture coding)

##########################################################################################
# Loop filter parameters
##########################################################################################
LoopFilterParameter      = 0            # Send loop filter parameter (0= No parameter, 1= Send Parameter)  
LoopFilterAlphaOffset    = 0            # Aplha offset in loop filter
LoopFilterBetaOffset     = 0            # Beta offset in loop filter

########################################################################################
#Weighted-quant
########################################################################################
WQuant                   =   0          # Enable adaptive quantization
HdrUVDelta               =   0          # Enable adaptive chroma offset for HDR

########################################################################################
# HDR Describe
########################################################################################
ColourPrimary            =   0          # 0: Disable  9 :bt2020
TransferChar             =   6          # 6: Gama  12: QP  14: HLG
MatrixCoeff              =   8          # 8: Un-const  9: Const

##########################################################################################
# HDR Extension Data
##########################################################################################
#       enable  display_primaries_x display_primaries_y white_x, white_y  max_luma min_luma max_content_light max_pic_light
HDRExt:    0     2  3  4             5 6 7               8         9       10      11              12             13

##### NODE LIST:  The nodes are separated by commas, the semicolon is the end of the nodelist, and all symbols are separated by spaces (except colons) 
NodeList: 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 , 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 , 
64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 , 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 ;

##########################################################################################
#RATECONTROL
##########################################################################################
RateControl              =   0          # (0: CQP, 1: CBR, 2: ABR, 3: CRF)
TargetBitRate            =   35000      # kbps

###########################################################################################
# Background Prediction
###########################################################################################
BackgroundEnable        = 0
BGMode                  = 0		# (0: Only G frame  1: weight-average)
GBQOffset               = 9
GBPeriod                = 4

###########################################################################################
# loop filter
###########################################################################################
slice_sao_enable_Y       =   -1    # (0: off,  1: on,  -1: auto)
slice_sao_enable_Cb      =   -1    # (0: off,  1: on,  -1: auto)
slice_sao_enable_Cr      =   -1    # (0: off,  1: on,  -1: auto)
